@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'sans-serif';
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* overflow:hidden */

}

*:focus{
    outline:none;
}

canvas{
    /* width:90vw; 
    height:85vh; */
    border:1px solid steelblue;
}

.controls{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width:800px;
    height:60px;
    background-color: steelblue;
}

.control{
    padding: 5px;
    margin:0px 5px;
    height:35px;
    width: 35px;
    background-color: azure;
    border: none;
    cursor: pointer;
    font:inherit;
    font-size:1.2rem;
}

.control.color{
    padding: 1px;
}



.left{
    width: 50%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin:0px 10px;
    
}

.value{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    /* padding: 3vw; */
    font-weight: 1000;
    /* padding: 5px; */
}
