@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

*{
    box-sizing: border-box;
}
body{
    font-family: 'Muli', 'sans-serif';
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background-color: aliceblue;
}

.todos{
    font-size: 7.5rem;
    letter-spacing: 3px;
    color:rgb(226, 199, 252);
    /* margin: 0; */
}

.bottom{
    display: flex;
    flex-direction: column;
}

.todo{
    height: 50px;
    width:350px;
    box-shadow: 0px 2px 5px rgba(108, 108, 108, 0.294);
    background-color: white;        
    border-top: 1px solid rgba(128, 128, 128, 0.146);
    color:black;
    font-size: 1.3rem;
    padding: 10px 20px;
    transition: color 0.3s ease-in;
    cursor: pointer;
}

.todo.strike{
    text-decoration: line-through;
    color:grey
}
.bottom input{
    height: 50px;
    width:350px;
    border:none;
    box-shadow: 0px 2px 5px rgba(108, 108, 108, 0.294);
    font: inherit;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.bottom input:focus{
    outline-color:rgb(226, 199, 252) ;
    outline-width: 2px;
}

.description{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: grey;
    text-align: center;
    font-size: 0.8rem;
    
}